$purple: #7C5DFA;
$lightPurple: #9277FF;
$darkPurple: #1E2139;
$light-darkPurple: #252945;
$lightGreyPurple: #DFE3FA;
$greyPurple: #888EB0;
$purpleBlue: #7E88C3;
$black: #0C0E16;
$peach: #EC5757;
$lightPeach: #9277FF;
$lightWhite: #F8F8FB;
$lightBlack: #141625;

